html, body{       
    font-size: 85%;
	background-color: #F7F7F7;
}
ul.menu{
    list-style: none;
    margin-left: 0;   
}

ul.menu li{
    display: inline;
    margin: 0;
    padding: 0;
}
ul.menu li a{
    text-decoration: none;
    padding: 4px 5px
}

ul.menu li a:hover, ul.menu li a:active{
    text-decoration: none;
}
#login{
	position: relative;    
    margin-top: 5px;
    padding: 4px 5px;
    top: 2px;
    float: right;
}

ul.side-menu{    
    list-style: none;
    margin-top: 5px;
}
ul.side-menu li{
    margin-left: 0;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
}
a {
	text-decoration: none;
	color: #3383bb;
	font-weight: bold;
}
a:hover, a:active{
	text-decoration: none;
}

ul.side-menu li a{
    text-decoration: none;
	color: #3383bb;
	font-weight: bold;
}

ul.side-menu li a:hover, ul.side-menu li a:active{
    text-decoration: none;    
}
div.footer p{
    font-style: italic;
    text-align: center;
}

#main {
	margin-top: 10px;
}

div.header{
    margin: 0 0 0 0;
}
div.title h1{
    position: relative;
    text-align: left;
    top: 20px;
    left: 10px;
    font-family: cursive fantasy sans-serif serif;
    font-size: 300%;
}

div.title h2{
	position: relative;
	text-align: left;
	font-size: 150%;
	top: 23px;
	left: 60px;
}

#upload_output{
	position: absolute;
	z-index: 50;
	top: 150px;
	left: 780px;
}

/** for datepicker display on top **/
.ui-datepicker {z-index:1200;}


/** form **/

input{
	font-size: 85%;
}

select {
	font-size: 85%;
}
input:focus, input:hover{
	border: 2px solid #900;
	background-color:#F0FFE6;	
}

fieldset {
	border:1px dashed #CCC;
	padding:0;
	padding-left: 10px;
	margin-top:10px;
	margin-bottom:20px;
}
legend {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 110%;
	letter-spacing: -1px;
	font-weight: bold;
	line-height: 1.1;
	color:#fff;
	background: #666;
	border: 1px solid #333;
	padding: 2px 6px;
}

.form {
	margin:0;
	padding:0;
}

.form label {
	float: left;
	text-align: right;
	margin-right: 10px;
	width: 120px;
}

.form ol{
	margin-left: 10px;
	list-style: none;	
}

.form ol li ul{	
	list-style: none;
}

.form button{
	font-size: 85%;
}

/** jcrop additional style */
.jcropper-holder{
	border: 1px black solid;
}
#outer {
	text-align: center;
}
.jcExample
{
	text-align: left;
	background: white;
	width: 700px;
	font-size: 80%;
	margin: 3.5em auto 2em auto;
	*margin: 3.5em 10% 2em 10%;
	border: 1px black solid;
	padding: 1em 2em 2em;
}

.jcExample .article
{
	width: 565px;
}
